body{
	font-family:Microsoft YaHei;
	background:#ebf0f5;
}
#wrap{
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
#btn_links{
	margin-left:-25px;
	position:fixed;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	width:80%;
}
#btn_links ul li{
	display:block;
	width:100%;
	text-align:center;
	border-bottom:1px solid #999;
	color:white;
}
#btn_links ul li div{
	padding:10px;
	background:#77d0ee;	
}
#btn_links ul li a{
	color:white;
	text-decoration:none;
}
#ban{
	width:100%;
	height:90px;
	background:#76e3bc;
	color:white;
	text-align:center;
	vertical-align:bottom;
	font-size:30px;
}
#nav{
	background:white;
	border-bottom:1px solid #dadfe2;
	padding:10px;
}
#link{
	width:100%;
	color:white;
}
#link tr td{
	text-align:center;
	padding:40px 30px 10px 30px;
}
#nav table{
	margin:auto;
	width:90%;
}
#main{
	padding:10px;
	margin-top:10px;
	text-align:center;
}
#new,#main_ban,#reminder{
	width:100%;
}
#main_ban img,#new img{
	border-radius:5px;
	width:100%;
}
#reminder table{
	width:100%;
}
#reminder table tr td{
	width:50%;
}
#reminder img{
	width:100%;
	margin-bottom:10px;
}
#downloads{
	margin-bottom:20px;
	width:100%;
}
#downloads table{
	width:100%;
	font-size:13px;
}
#downloads table tr td{
	text-align:left;
	vertical-align: top;
}
#downloads img{
	width:80px;
}
#register{
	margin-left:-10px;
	margin-right:-10px;
}
#register #title{
	padding:10px;
	font-size:20px;
	margin-bottom:10px;
	background:#e1e1e1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
#register input[type="text"],#register textarea{
	outline:none;
	width:93%;
	margin-bottom:10px;
	padding:10px;
	color:black;
}
#register textarea{
	height:200px;
}
input[type="submit"],input[type="reset"]{
	outline:none !important;
	width:100% !important;
	padding:15px !important;
	font-size:15px !important;
	border:none !important;
	color:white !important;
}
input[type="submit"]{
	border-top-left-radius:5px !important;
	border-top-right-radius:5px !important;
	background:#0685b4 !important;
}
input[type="reset"]{
	border-bottom-left-radius:5px !important;
	border-bottom-right-radius:5px !important;
	background:#d51a1a !important;
}
input[type="submit"]:hover,input[type="reset"]:hover{
	box-shadow:0px 0px 10px #333 inset !important;
}

#post{
	width:100%;	
	background-size:100% !important;
	color:white;
	height:250px;
	text-align:left;
	box-shadow:0px 0px 20px #333 inset;
}
#title_post{
	position:absolute;
	margin:10px;
	font-size:20px;
}
#post img{
	position:absolute;
	margin-top:180px;
	margin-left:10px;
	width:40px;
	border-radius:100px;
	border:3px solid white;
	box-shadow:0px 0px 7px #333;
}

#new{
	margin-bottom: 20px;

}


#nav table{
	border:1px solid #d2d2d2;
	margin:auto;
	width:90%;
	border-radius:5px;
}
#nav table tr td{
	padding:0;
}
#nav input[type="submit"]{
	width:100% !important;
	font-family:Microsoft YaHei !important;
	padding:6px !important;
	border-radius:5px !important;
	font-size:18px !important;
	background:transparent !important;
	border:none !important;
	color:#959595 !important;
}
#nav input[type="submit"]:hover{
	box-shadow:none !important;
}
#nav #active-btn{
	
	background:white !important;
	border:1px solid #c8c8c8 !important;
	color:#76e3bc !important;
}


#nav{
	background:white;
	border-bottom:1px solid #dadfe2;
	padding:10px;
}
