#exit{
	display:none;
	color:white;
	position:fixed;
	z-index:99;
	right:20px;
	top:20px;
	cursor:pointer;
}
#back{
	display:none;
	position:fixed;
	z-index:97;
	background:rgba(0,0,0,0.9);
	height:100%;
	width:100%;
	margin:-8px;
	display:none;
	text-align:center !important;
	vertical-align:middle;
}
video{
	display:none;
	position:fixed;
	z-index:98;
	height:445px;
	width:710px;
	border:none;
	/*top:25%;
	left:16%;*/
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
}
#links{
	text-decoration:none;
}
#nav{
	width:90%;
	margin:auto;
	padding:20px;
	text-align:left;
}
#nav_img{
	width:25%;
}
#navigation{
	position:fixed;width:100%;background:white;top:0;left:0;z-index:9;text-align:left;padding:10px;
}

	#animate{
		top:0;
		left:0;
		width:100%;
		height:1000px;
		overflow:hidden;
		margin-top:100px;
	}
	.img:hover{
		-webkit-animation-play-state:paused;
	}
	.img tr td{
		text-align:center;
		vertical-align:middle;
		width:800px !important;
	}
	#animate .img{
		margin-top:-100px;
		background:white;
		width:2700px;
		margin-left:-30px;
		-webkit-animation: myslide 15s infinite;
		-moz-animation: myslide 15s infinite;
		-o-animation: myslide 15s infinite;
		animation: myslide 15s infinite;
	}
	/*@-webkit-keyframes myslide{
		0%{
			margin-left:-60px;
		}
		17%{
			margin-left:-60px;
		}
		34%{
			margin-left:-898px;
		}
		51%{
			margin-left:-898px;
		}
		68%{
			margin-left:-1755px;
		}
		85%{
			margin-left:-1755px;
		}
		100%{
			margin-left:-60px;
		}
	}
	@-moz-keyframes myslide{
		0%{
			margin-left:-60px;
		}
		17%{
			margin-left:-60px;
		}
		34%{
			margin-left:-1138px;
		}
		51%{
			margin-left:-1138px;
		}
		68%{
			margin-left:-2275px;
		}
		85%{
			margin-left:-2275px;
		}
		100%{
			margin-left:-60px;
		}
	}
	@-o-keyframes myslide{
		0%{
			margin-left:-60px;
		}
		17%{
			margin-left:-60px;
		}
		34%{
			margin-left:-1138px;
		}
		51%{
			margin-left:-1138px;
		}
		68%{
			margin-left:-2275px;
		}
		85%{
			margin-left:-2275px;
		}
		100%{
			margin-left:-60px;
		}
	}*/
body{
	font-family:Microsoft YaHei;
}
#wrap{
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	/*background:#999;*/
}
#head{
	color:#1f7afe;
	text-align:center;
	margin-bottom:100px;
}
#head img{
	width:100%;
}
#title_head{
	margin-bottom:-40px;
	font-size:51px;
	font-weight:bold;
}
#title_desc{
	margin-top:20px;
	font-size:30px;
}
#img{
	margin:auto;
	border:5px solid #1f7afe;
	width:85%;
	margin-bottom:80px;
}
#img img{
	width:100%;
}
#circle{
	text-align:center;
	display:none;
	background:#f39800;
	height:130px;
	width:130px;
	padding:10px;
	position:fixed;
	border-radius:150px;
	color:white;
	font-size:40px;
	vertical-align:middle;
}

#circle2{
	background:#1f7afe;
	height:180px;
	width:180px;
	padding:10px;
	border-radius:150px;
	color:white;
	font-size:40px;
	font-weight:bold;
}
#circle2:after{
	content:"";
	position:absolute;
	margin-top:65px;
	margin-left:-30px;
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	  
	border-top: 30px solid #1f7afe;

}
.circle_float{
	 position : fixed ; z-index : 99 ; font-size: 30px !important;
}
#circle3{
	position:fixed;
	margin-left:34%;
	margin-top:-200px;
	margin-bottom:30px;
	background:#f08300;
	height:180px;
	width:180px;
	padding:10px;
	border-radius:150px;
	color:white;
	font-size:40px;
	text-align:center;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
#circle3:after{
	content:"";
	position:absolute;
	width: 0; 
	height: 0; 
	margin-left:-27px;
	margin-top:60px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	  
	border-top: 30px solid #f08300;

}
#circle3.hide:after{
	display:none;
}
@-webkit-keyframes resize{
	from{
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
	to{
		-webkit-transform:scale(0.7) translate(590px,80px) rotate(-360deg);
		-moz-transform:scale(0.7) translate(590px,80px) rotate(-360deg);
		-o-transform:scale(0.7) translate(590px,80px) rotate(-360deg);
		transform:scale(0.7) translate(590px,80px) rotate(-360deg);
	}
}
@-webkit-keyframes desize{
	from{
		-webkit-transform:scale(0.7) translate(590px,80px);
		-moz-transform:scale(0.7) translate(590px,80px);
		-o-transform:scale(0.7) translate(590px,80px);
		transform:scale(0.7) translate(590px,80px);
	}
	to{
		-webkit-transform:scale(1) translate(0px,0px) rotate(-360deg);
		-moz-transform:scale(1) translate(0px,0px) rotate(-360deg);
		-o-transform:scale(1) translate(0px,0px) rotate(-360deg);
		transform:scale(1) translate(0px,0px) rotate(-360deg);
	}
}
#controls{
	width:100%;
	margin-bottom:240px;
	margin-top:0px;
}
#controls ul{

}
#controls ul li{
	display:inline-table;
	margin-left:20px;
}
.active{
	background:#f08300;
}
#page1,#page2,#page3{
	padding:10px;
	height:10px;
	width:10px;
	border-radius:100px;
	border:3px solid #f08300;
	cursor:pointer;
}
#cont{
	border:7px solid #1f7afe;
	width:83%;
	padding:20px;
	margin:auto;
}
#title_photo{
	margin:auto;
	padding:8px;
	width:280px;
	border-radius:100px;
	background:#1f7afe;
	color:white;
	font-size:40px;
	margin-bottom:80px;
}
#img2{
	width:70%;
	border:3px solid #1f7afe;
	margin-bottom:50px;
}
#desc{
	line-height:55px;
	width:700px;
	margin:auto;
	color:#888;
	font-size:31px;
	margin-bottom:80px;
}
#tbl_img{
	margin-top:20px;
}
#tbl_img img{
	width:80%;
}
#foot{
	background: #1f7afe;
	padding:20px;
	text-align:center;
	color:white;
	margin-top:100px;
	font-size:45px;
}
#body{
	/*display:none;*/
}
@media screen and (min-width:1200px){
	#wrap{
		position:absolute;
		margin-top:-3590px;
		-webkit-transform:scale(0.4);
	}
	#body{
		display:block;
	}
	#circle3{
	bottom:	-40px;
	left:8%;
	z-index:99;
	-webkit-transform:scale(0.6);
	}

@-webkit-keyframes resize2{
	from{
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
		-o-transform:scale(0.6);
		transform:scale(0.6);
	}
	to{
		-webkit-transform:scale(0.3) translate(1900px,80px);
		-moz-transform:scale(0.3) translate(1900px,80px);
		-o-transform:scale(0.3) translate(1900px,80px);
		transform:scale(0.3) translate(1900px,80px);
	}
}
@-webkit-keyframes desize2{
	from{
		-webkit-transform:scale(0.3) translate(1900px,80px);
		-moz-transform:scale(0.3) translate(1900px,80px);
		-o-transform:scale(0.3) translate(1900px,80px);
		transform:scale(0.3) translate(1900px,80px);
	}
	to{
		-webkit-transform:scale(0.6) translate(0px,0px);
		-moz-transform:scale(0.6) translate(0px,0px);
		-o-transform:scale(0.6) translate(0px,0px);
		transform:scale(0.6) translate(0px,0px);
	}
}
	#hide_this{
		display:none;
	}
	.img tr td{
		text-align:center;
		vertical-align:middle;
		width:2500px !important;
}