.carousel_inner{
	margin-top:-10px !important;
}
body{
	font-family:century gothic,Microsoft YaHei;
	background:#ebf0f5;
}
#wrap{
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
#btn_links{
	margin-left:-25px;
	position:fixed;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	width:80%;
}
/* Single-direction drop shadow */

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
#btn_links ul li{
	display:block;
	width:100%;
	text-align:center;
	color:white;
	margin-top:10px;
}
#btn_links ul li div{
	border-radius:100px;
	padding:10px;
	background:#0d7c5e !important;	
}
#btn_links ul li a{
	color:white;
	text-decoration:none;
}
#ban{
	width:100%;
	background:#76e3bc;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-size:30px;
}
#nav{
	background:white;
	border-bottom:1px solid #dadfe2;
	padding:10px;
}
#link{
	width:100%;
	color:white;
}
#link tr td{
	text-align:center;
	padding:10px 30px 10px 30px;
}
#nav table{
	border:1px solid #d2d2d2;
	margin:auto;
	width:90%;
	border-radius:5px;
}
#nav table tr td{
	padding:0;
}
#nav input[type="submit"]{
	width:100%;
	font-family:Microsoft YaHei;
	padding:6px;
	border-radius:5px;
	font-size:18px;
	background:transparent;
	border:none;
	color:#959595;
}
#nav input[type="submit"]:hover{
	box-shadow:none;
}
#nav .active_nav{
	
	background:white !important;
	border:1px solid #c8c8c8 !important;
	color:#76e3bc !important;
}
#main{
	padding:10px;
	margin-top:30px;
	text-align:center;
}

#game_post{
	margin-top:17px;
}
#blog_post #post{
	margin-top:-5px !important;
}
#game_post #post{
	margin-top:-20px !important;
}
#main_2{
	padding:10px;
	margin-top:64px;
	text-align:center;
}
#new,#main_ban,#reminder{
	width:100%;
}
#main_ban img,#new img{
	border-radius:5px;
	width:100%;
}
#reminder table{
	width:100%;
}
#reminder table tr td{
	width:50%;
}
#reminder img{
	width:100%;
	margin-bottom:10px;
}
#downloads{
	margin-bottom:20px;
	width:100%;
	border-bottom:1px solid #f0f0f0;
}
#downloads table{
	width:100%;
	font-size:13px;
}
#downloads table tr td{
	text-align:left;
	vertical-align: top;
}
#downloads img{
	width:80px;
}
#register{
	margin-left:-10px;
	margin-right:-10px;
}
#register #title{
	padding:10px;
	font-size:20px;
	margin-bottom:10px;
	background:#e1e1e1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
#register input[type="text"],#register textarea,#register select{
	border:1px solid #999;
	border-radius:3px;
	outline:none;
	width:93%;
	margin-bottom:10px;
	padding:10px;
}
#register textarea{
	height:200px;
	resize:none;
}
#post{
	width:100%;
	background:url("images/2.jpg") no-repeat;
	background-size:100%;
	color:white;
	height:250px;
	text-align:left;
	border-radius:5px;
}
#title_post{
	position:absolute;
	margin:10px;
	font-size:20px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
#post img{
	position:absolute;
	margin-top:180px;
	margin-left:10px;
	width:40px;
	border-radius:100px;
	border:3px solid white;
	box-shadow:0px 0px 7px #333;
}
input[type="submit"],input[type="reset"]{
	outline:none;
	width:100%;
	padding:15px;
	font-size:15px;
	border:none;
	color:white;
}
input[type="submit"]{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background:#0685b4;
}
input[type="reset"]{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background:#d51a1a;
}
input[type="submit"]:hover,input[type="reset"]:hover{
	box-shadow:0px 0px 10px #333 inset;
}
#log_user{
	border:5px solid white;
	margin-top:15%;
	width:150px;
	height:150px;
	border-radius:500px;
}



/*LOGIN DESIGN*/

#login_design{
	width:90%;
	padding:10px;
	text-align:center;
	position:fixed;
	top:60%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
#login_design input[type="text"],#login_design input[type="password"],#login_design input[type="email"]{
	width:70%;
	padding:10px;
	font-size:15px;
	border:none;
	border-bottom:1px solid white;
	color:white;
	outline:none;
	background:transparent;
	font-family:century gothic;
}
#login_design input[type="submit"]{
	width:75%;
	border-radius:100px;
	background:#0d7c5e !important;	
	color:white;
}
#login_design input[type="text"]{
	margin-top:10px;
	padding:10px 10px 5px 30px;
	background:url("../../images/username.png") no-repeat transparent left center;
	background-size:20px;
}
#login_design #first_name,#login_design #last_name{
	background:url("../../images/name.png") no-repeat transparent left center;
	background-size:20px;	
}
#login_design input[type="email"]{
	margin-top:10px;
	padding:10px 10px 5px 30px;
	background:url("../../images/email.png") no-repeat transparent left center;
	background-size:20px;
}

#login_design input[type="password"]{
	margin-top:10px;
	padding:10px 10px 5px 30px;
	background:url("../../images/password.png") no-repeat transparent left center;
	background-size:20px;
}
#con_pass{
	background:url("../../images/cpassword.png") no-repeat transparent left center !important;
	background-size:20px !important;
}
#login_foot{
	position:fixed;
	width:100%;
	bottom:20px;
	text-align:center;
}
.signup,#log,#upload_img{
	display:none;
}
#sign,#log{
	cursor:pointer;
}
#img_icon{
	width:70% !important;padding:30px;background:rgba(255,255,255,0.2);border-radius:500px;
}
#head_logo,#upload_img{
	font-size:45px;margin-top:25%;
	width:100%;
}

#accnt_set{
	background:white;
	position:fixed;
	right:10px;
	top:7%;
	border-radius:5px;
	box-shadow:0px 0px 10px #333;
	width:200px;
	color:#333;
	font-size:14px;
	display:none;
	z-index:99;
}
#accnt_set:before{
	content:"";
	position:absolute;
	margin-top:-9px;
	right:6px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	  
	border-bottom: 10px solid white;
}
#accnt_set ul{
	margin-left:-40px;
}
#accnt_set ul li{
	display:block;
	padding:10px;
}
#accnt_set a{
	color:#333;
}
#accnt_set a:focus{
	text-decoration:none;
}
#accnt_set ul li:hover{
	color:#11bc8c;
}
#accnt_set img{
	width:50px;
	height:50px;
	border-radius:100px;
	margin:5px;
}

#view_infos{
	font-size:14px;
	padding:10px;
	width:100%;
	margin:auto;
	border-bottom:1px solid #d1d1d1;
	/*background:white;*/
	margin-top:10px;
	/*border-radius:5px;*/
}
#view_infos table{
	 float:right;
	 width:75%;
	}
/*@media screen and (max-width:750px){	
#view_infos table{
	 float:right;width:60% !important;
}
}*/

.btn_blue,.btn_orange,.btn_red,.btn_green{
	outline:none !important;
	padding:7px 15px;
	border-radius:3px;
	border:none;
	color:white;
	
}
.btn_blue:focus,.btn_orange:focus,.btn_red:focus,.btn_green:focus{
	color:white;
}
.btn_blue{
	background:#3e9bcb !important;
}
.btn_orange{
	background:#fc9e42;
}
.btn_red{
	background:#d93e40;
}
.btn_green{
	background:#43bc8a;
}

@media screen and (max-width:360px){
	#img_icon{
		width:15%;padding:30px;background:rgba(255,255,255,0.2);border-radius:500px;
	}
	#login_design input[type="text"],#login_design input[type="password"],#login_design input[type="email"],#login_design input[type="submit"]{
		font-size:12px;
	}
	#login_foot{
		font-size:12px;
	}
	#accnt_set{
		top:8%;
	}
	#link tr td{
		font-size:12px !important;
	}

}
@media screen and (max-width:320px){
	#link tr td{
		font-size:11px !important;
	}
}

@media screen and (orientation:landscape) {
	#head_logo,#upload_img{
		margin-top:0%;
	}
	#img_icon{
		margin-top:10px;
		width:5%;
		padding:10px;
	}
	#logo{
		display:none;
	}
	#log_user{
		margin-top:-20px;
		width:80px;
		height:80px;
	}
	.signup{
		position:relative !important;
		bottom:0;
		margin-top:150px;
	}
	#accnt_set{
		top:11%;
	}

}
#main_icon{
	position:fixed;
	z-index:100;
	bottom:10px;
	right:10px;
	height:45px;
	padding:11px 17px;
	border-radius:100%;
	color:white;
	background:#11bc8c;
	font-size:18px;
	box-shadow:0 8px 6px -6px #777;
	-webkit-transition:all ease-in-out 0.3s;
	-moz-transition:all ease-in-out 0.3s;
	-o-transition:all ease-in-out 0.3s;
	transition:all ease-in-out 0.3s;
}
#main_icon:active{
	-webkit-transform:rotate(-360deg);
	-moz-transform:rotate(-360deg);
	-o-transform:rotate(-360deg);
	transform:rotate(-360deg);
}
#list_icons ul li a{
	color:#11bc8c !important;
	text-decoration:none;
}
#list_icons{
	position:fixed;
	z-index:99;
	bottom:60px;
	right:15px;
	display:none;
}
#list_icons ul li{
	text-align:center;
	color:#11bc8c;
	margin-bottom:20px;
	display:block;
	width:200px;
	text-align:right;
}
#list_icons ul li #icon{
	background:white;
	box-shadow:0 8px 6px -6px #777;
	border-radius:100%;
	font-size:18px;
	padding:11px 12px;
	width:43px;
}
#title_icon{
	margin-right:20px;
	box-shadow:0 8px 6px -6px #777;
	border-radius:5px;
	padding:5px;
	background:white;
	color:#555;
}
.admin_nav{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:#d1d1d1;
}
#admin_nav a{
	font-size:12px;
	color:white;
	text-decoration:none;
}
#admin_nav a div:hover{
	background:#0685b4;
	border-right:5px solid #054d68;
}
#admin_nav a:focus{
	text-decoration:none;
}
#admin_nav{
	position:fixed;
	z-index:99;
	top:0;
	left:0;
	/*background:url("../../images/background.jpg") no-repeat;*/
	background:#333;
	background-size:cover;
	color:white;
	height:100%;
	width:16%;
	font-size:14px;
}
#admin_nav ul{
	margin-left:-40px;
}
#admin_nav ul li div{
	padding:10px;
	text-align:left;
}
#admin_nav ul li a div{
	padding:10px 10px 10px 30px;
	-webkit-transition:all ease-in-out 0.3s;
	-moz-transition:all ease-in-out 0.3s;
	-o-transition:all ease-in-out 0.3s;
	transition:all ease-in-out 0.3s;
}
#admin_nav ul li{
	display:block;
	border-bottom:1px solid white;
}
#nav_title{
	background:#222;
}

#back,#back2{
	position:fixed;
	z-index:98;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	display:none;
}
.download_file{
	width:100%;
	overflow: hidden;
    text-overflow: ellipsis;
}
#thumnail_edit{
	text-align:center;
	height:auto !important;
	padding:10px;
}
.edit_account{
	margin-top:-135px !important;
}
#main_parent_view{
	background:transparent !important;
}
#star_desc2{
	color:#333;
	text-align:left;
	padding:5px;
	text-indent:10px;
	background:white;
	height:150px;
}
#video_star{
	width:100%;
}
#student,#parent,#school{
	height:auto;
}
#student table tr td{
	background:#111;
}

#parent table tr td{
	background:#111;
}

#school table tr td{
	background:#111;
}
#next_slide,#prev_slide{
position:fixed;
bottom:10px;
z-index:11;
}
#prev_slide{
	left:10px;
}
#next_slide{
	right:10px;
}
.stack #student:nth-child(1),.stack #parent:nth-child(1),.stack #school:nth-child(1){
	width:100%;
	box-shadow:0px 4px 20px -4px #333;
	position:absolute;
	z-index:10;
}
.stack #student:nth-child(2),.stack #parent:nth-child(2),.stack #school:nth-child(2){
	width:100%;
	box-shadow:0px 4px 20px -4px #333;
	transform:scale(0.9);
	position:absolute;
	z-index:9;
}
.stack #student:nth-child(3),.stack #parent:nth-child(3),.stack #school:nth-child(3){
	width:100%;
	box-shadow:0px 4px 20px -4px #333;
	transform:scale(0.8);
	position:absolute;
	z-index:8;
}

/*Star CSS*/

#nav table tr td{
	width:30%;
	background:#ebebeb;
}
#exit{
	display:none;
	color:white;
	position:fixed;
	z-index:109;
	right:20px;
	top:20px;
	cursor:pointer;
}
#back_2{
	display:none;
	position:fixed;
	z-index:107;
	background:rgba(0,0,0,0.9);
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center !important;
	vertical-align:middle;
}
video{
	display:none;
	position:fixed;
	z-index:108;
	width:100%;
	border:none;
	/*top:25%;
	left:16%;*/
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
}
#links{
	text-decoration:none;
}


.above_all{
	z-index:10 !important;
	-webkit-transform:scale(1) !important;

}
.below_all{
	transform:scale(0.8) !important;
	z-index:8 !important;
	margin-top:100px !important;
}
@-webkit-keyframes card_stack{
	from{
		opacity:1;
	}
	to{
		-webkit-transform:scale(1);
		opacity:0;
	}
}
@-moz-keyframes card_stack{
	from{
		opacity:1;
	}
	to{
		-webkit-transform:scale(1);
		opacity:0;
	}
}
@-o-keyframes card_stack{
	from{
		opacity:1;
	}
	to{
		-webkit-transform:scale(1);
		opacity:0;
	}
}
@keyframes card_stack{
	from{
		opacity:1;
	}
	to{
		-webkit-transform:scale(1);
		opacity:0;
	}
}
@-webkit-keyframes card_stack_next{
	from{
		-webkit-transform:scale(0.9);
		opacity:1;
	}
	to{
		margin-top:0px;
		-webkit-transform:scale(1);
	}
}
@-moz-keyframes card_stack_next{
	from{
		-webkit-transform:scale(0.9);
		opacity:1;
	}
	to{
		margin-top:0px;
		-webkit-transform:scale(1);
	}
}
@-o-keyframes card_stack_next{
	from{
		-webkit-transform:scale(0.9);
		opacity:1;
	}
	to{
		margin-top:0px;
		-webkit-transform:scale(1);
	}
}
@keyframes card_stack_next{
	from{
		-webkit-transform:scale(0.9);
		opacity:1;
	}
	to{
		margin-top:0px;
		-webkit-transform:scale(1);
	}
}
@-webkit-keyframes card_stack_last{
	from{
		-webkit-transform:scale(0.8);
		opacity:1;
	}
	to{
		margin-top:50px;
		-webkit-transform:scale(0.9);
	}
}
@-moz-keyframes card_stack_last{
	from{
		-webkit-transform:scale(0.8);
		opacity:1;
	}
	to{
		margin-top:50px;
		-webkit-transform:scale(0.9);
	}
}
@-o-keyframes card_stack_last{
	from{
		-webkit-transform:scale(0.8);
		opacity:1;
	}
	to{
		margin-top:50px;
		-webkit-transform:scale(0.9);
	}
}
@keyframes card_stack_last{
	from{
		-webkit-transform:scale(0.8);
		opacity:1;
	}
	to{
		margin-top:50px;
		-webkit-transform:scale(0.9);
	}
}